# Miscellaneous
*.class
*.log
*.pyc
*.swp
.DS_Store
.atom/
.build/
.buildlog/
.history
.svn/
.swiftpm/
migrate_working_dir/

# IDEs
*.iml
*.ipr
*.iws
.idea/
.vscode/

# Flutter/Dart/Pub
.dart_tool/
.flutter-plugins
.flutter-plugins-dependencies
.packages
.pub/
/build/
/coverage/
/generated_plugin_registrant.dart

# iOS
**/ios/Flutter/.last_build_id
**/ios/Pods/
**/ios/.symlinks/
**/ios/Flutter/Flutter.framework
**/ios/Flutter/Flutter.podspec

# Android
/android/app/debug
/android/app/profile
/android/app/release
**/android/.gradle/
/android/local.properties

# macOS
**/macos/Flutter/GeneratedPluginRegistrant.swift

# Windows
**/windows/flutter/generated_plugin_registrant.cc

# Linux
**/linux/flutter/generated_plugin_registrant.cc

# Web
**/web/flutter.js
**/web/manifest.json
**/web/version.json

# Symbolication
app.*.symbols

# Obfuscation
app.*.map.json
